{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar Empresa</h1>

    {{ form_start(edit_form) }}
    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
        {{ form_widget(edit_form) }}
        <div class="row">
            <div class="col">
                <a class="btn btn-outline-secondary" href="{{ path('empresa_index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i>Lista de Empresas</a>
            </div>
            <div class="col text-right">
                <input type="submit" value="Edit"  class="btn btn-outline-primary" />
            </div>
        </div>

    {{ form_end(edit_form) }}

   {% endblock %}
