{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuario creation</h1>

    {{ form_start(form) }}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
        {{ form_widget(form) }}
<div class="row">
    <div class="col">
        <a class="btn btn-outline-secondary" href="{{ path('usuario_index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i>Lista de usuarios</a>
    </div>
    <div class="col text-right">
        <input type="submit" value="Create"  class="btn btn-outline-success"/>
    </div>
</div>
    {{ form_end(form) }}


{% endblock %}
